<div class="row">
    <div class="col-md text-center">
        <div class="btn-group btn-group-sm mt-2">
            <a [routerLink]="['new']" routerLinkActive="active" class="btn btn-secondary btn-fix-padding">Nuevo</a>
            <a [routerLink]="['edit']" routerLinkActive="active" class="btn btn-secondary btn-fix-padding">Editar</a>
            <a [routerLink]="['detail']" routerLinkActive="active" class="btn btn-secondary btn-fix-padding">Detalle</a>
            
        </div>
    </div>
</div>

<router-outlet></router-outlet>